/* Header */
.header{
    background-color: white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo{
    width:140px ;
    height:100% ;
}
.logo_img{
    width: 100%;
    height: 100%;
    margin-left: 3rem;
}
.nav{
    height: 100%;
    font-family: Raleway;
  
}
.nav_ul{
    display: flex;
    justify-content: center;
    list-style: none;
    height: 100%;
    margin: 0;
    align-items:center ;
    
}
.nav_li{
    margin: 0px 30px;
}


/* Fin Header */
.options_filtres{
    display: flex;
    margin: 3rem;
}

/* Options */
.options_filtres_title{
    width: 13rem;
    height: 2rem;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    position: relative;
}
.options_filtres--icono{
    width: 40px;
    height: 40px;
    background-color:#0065FC ;
    border-radius: 1600px;
    position:absolute;
    top: 9px;
    right: 8px;
    left: 0;
    color: #fff;
    font-size: 1.5em;

}

  

/* Container */
.conteneur{
    display: flex;
    flex-wrap: wrap;
}
.articulos {
    width: 60rem;
    height: 40rem;
    background: grey;
    float: left;
}

.articulos__seccion1 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20rem;
    align-items: center;
}

.articulos__seccion2 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20rem;
    align-items: center;
}

/* Articulos */

.articulos__objeto {
    background-color: white;
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    text-decoration: none;
    border-radius: 1.5rem;
    padding: .5rem;
}

.articulos__img {
    height: 65%;
    width: 100%;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}

.articulos__titulo {
    margin: 5px;
}

.articulos__resena {
    margin: 5px;
}

.articulos__icono {
    margin: 5px;
}

/* Fin de articulos */

.aside {
    width: 15rem;
    height: 40rem;
    background: rgb(61, 60, 60);
    float: right;
}
#bloc_page{
    width: 900px;
    margin: auto;
}