/* h1 {
    font-size: 1.5em;
    padding: 5px;
} */
html {
    font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

body {
    align-content: center;
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: wrap;
}

/* Elements principaux de la page */

/* Header */
header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}

.logo {
    width: 130px;
    height: 100%;
    padding-left: 80px;

    padding-top: 22px;
}

.logo__img {
    width: 50%;
    height: 50%;
}

/* Navigation */
.nav {
    height: 100%;
    font-family: "Relaway", sans-serif;
    margin-right: 5%;
    height: 80px;
    display: flex;
}

.nav_ul {
    display: flex;
    list-style-type: none;
    font-size: 15px;
    height: 100%;
    /*! margin: 0px; */
}

.nav_li {
    color: black;
    text-decoration: none;
    margin: 0 20px;
    padding: 45px 0;
}

.nav_li:hover {
    border-top: 2px solid rgb(0, 0, 255);
}

/* ink, active, hover, visited */
.nav_a {
    text-decoration: none;
    color: blue;
}

.nav_a:hover {
    color: blue;
}

/* Options */
.options {
    display: flex;
    flex-direction: column;
    width: 100%;

    padding-left: 80px;
    /*! padding-right: 40px; */
}

body>section.options>h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    /*! padding-left: 40px; */
    padding-right: 40px;
}

body>section.options>h4 {
    font-size: 13px;
    margin: 0;
    /*! padding-left: 40px; */
    padding-right: 40px;
}

.options_recherche {
    margin: 10px 0px;
    /*! padding-left: 40px; */
    /*! padding-right: 40px; */
}

.options_recherche_button {
    margin: 0px;
    width: 30px;
    height: 30px;
    border-color: rgb(223, 221, 221);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.options_recherche_submit {
    margin-left: -9px;
    width: 80px;
    height: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065fcc7;
    border-color: #0065fcc7;
    color: white;
}

#opciones__busqueda--search {
    margin: 0px;
    height: 30px;
    position: relative;
    left: -5px;
}

.options_filtres {
    display: flex;
    align-content: center;
    flex-flow: wrap;
    padding-right: 15px;
}

.options_filtres p {
    margin: 0px -20px 0px 0px;
    font-weight: bold;
    font-size: 14px;
}

.body>section.options>div.options_filtres>p>b {
    margin: 50 0 0 0;
    align-content: center;
}

/* body > section > div.options_filtres > p{
    vertical-align: middle;
} */
.options_filtres_title {
    display: flex;
    justify-content: center;
    /*! align-content: center; */
    /*! position: relative; */
    /*! height: auto; */
    /*! border-radius: 2000px; */
    /*! margin: 10px; */
    /*! background-color: white; */
    /*! border-width: ; */
    justify-content: center;
    align-content: center;
    position: relative;
    height: auto;
    border-radius: 2000px;
    margin: 10px;
    background-color: white;
    border-width: 0.3px;
}

.options_filtres_title h3 {
    margin-left: 40px;
    padding: 10px;
    font-weight: bold;

    font-size: 14px;
}

.options_filtres_icono {
    width: 36px;
    height: 36px;
    background-color: rgba(158, 215, 244, 0.78);
    color: blue;
    font-size: 14px;
    border-radius: 2000px;
    position: absolute;
    left: 0;
}

.options_filtres_icono i {
    position: absolute;
    top: 12px;
    left: 12px;
}

.p_info {
    display: flex;
    padding: 15px 0px;
    font-size: 12px;
}

.p_info i {
    padding-right: 10px;
}

/* Corps */
.conteneur {
    display: flex;
    /*  Para colocar el aside en primer lugar luego utilizaré en los media queris:  
     flex-direction: column-reverse;
     de esta manera el aside pasará en primer lugar en las versiones moviles */
    padding: 5px 40px 5px 40px;
    height: auto;
    width: 95%;
    justify-content: center;
}

body>div>section>h1 {
    font-size: 18px;
}

.hotel {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-right: 1%;
    padding: 10px 0px;
    max-width: 70%;
}

.hotel h1 {
    font-size: 16px;
    margin: 10px 0px 0px 15px;
    padding: 0 0 0 0;
    font-weight: bold;
}

.offre {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    border-radius: 20px;
    padding: 0.5em;
    width: 98%;
}

.hebergement {
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-bottom: 2%;
    background: white;
    /* flex-grow: 0.7; */
    align-content: center;
    width: 30%;
    height: 220px;
    border-radius: 20px;

    margin-right: 18px;
    /*! position: relative; */
}

/* figure {
    overflow: hidden;
    margin: 2px;
    padding-top: 5px;
    padding: 3px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
} */
.imag_hotel {
    overflow: hidden;
    padding: 3px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.img_aside {
    overflow: hidden;
    height: auto;
    max-width: 50%;
    /*! box-sizing: border-box; */
    border-top-left-radius: 20px;
    border-top-left-radius: 20px;

    /*! position: relative; */
}

.img_activites_large {
    overflow: hidden;
    height: 360px;
    max-width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
}

.imag_activites_courte {
    overflow: hidden;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 150px;
    box-sizing: border-box;
    position: relative;
}

.hebergement_image {
    height: 100%;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/* body > div > section > div > div:nth-child(1) > figure > img¨{
      overflow: hidden;
      margin: 2px;
      padding-top: 5px;
      padding: 0 px;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
} */
.hebergement_text_principel {
    font-size: 12px;
    font-weight: bold;
    padding: 0px;
    position: relative;
    margin: 2px 0px 0px 12px;
    text-align: left;
}

.hebergement_text_secundaire {
    font-weight: normal;
    font-size: 10px;
    margin: 3px 0px 7px 10px;
    padding: 3px;
}

#etoiles {
    margin: 0px 0px 0px 12px;
    font-size: 10px;
    padding: 0px 0px 15px 18px;
    color: blue;
}

#etoiles i {
    font-size: 10px;
}

.ancle {
    padding-left: 20px;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 30px;
}

body>div>section>li {
    list-style: none;
}

body>section>div.conteneur>section>li {
    list-style: none;
}

.aside {
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 8px 8px 8px 8px;
    margin-left: 5px;
    max-width: 30%;
    justify-content: flex-start;
}

.title_aside {
    display: flex;
    font-size: 16px;
    margin: 18px 24px 0px 15px;
    justify-content: space-between;
}

.aside h1 {
    font-size: 16px;
    /* margin: 18px 0px 0px 15px; */
    /*! padding: 0 0 0 0; */

    font-weight: bold;
}

.les_plus_populaires {
    display: flex;
    background: white;
    width: 90%;
    height: 125px;
    padding: 5px;
    border-radius: 20px;
    margin-top: 20px;
    justify-content: center;
}

body>div>aside>h1 {
    font-size: 16px;
}

.les_plus_populaires_image {
    overflow: hidden;
    display: inline-block;
    width: 150px;
    height: 100%;
    border-bottom-left-radius: 15%;
    border-top-left-radius: 15%;
}

.pepito {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 60%;
    height: 100%;
    padding: 0px 8px 0px 5px;
}

.populaires_text_principel {
    font-size: 12px;
    font-weight: bold;

    text-align: left;
    padding: 20px 5px 0px 30px;
}

.populaires_text_secundaire {
    font-size: 10px;
    text-align: left;
    padding: 10px 5px 25px 30px;
}

.activites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.activites h1 {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0px 0px 10px;
    padding: 30px 0px 30px 90px;
}

.option_activites_marseille {
    display: flex;
    justify-content: space-around;
    padding-left: 60px;
    flex-flow: wrap;
    padding-right: 62px;
}

.activites_a_marseille {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    background: white;
    width: 300px;
    height: 100%;
    border-radius: 20px;
}

.activites_text_principel {
    position: relative;
    font-weight: bold;
    margin: 22px 10px 20px 12px;
    text-align: left;
    font-size: 12px;
}

body>section.activites>div>div:nth-child(2)>article:nth-child(2)>h4 {
    font-size: 12px;
}

.activites_a_marseille_1 {
    display: flex;
    flex-direction: column;
    /*! width: 170px; */
    /*! height: 300px; */
    /*! background: white; */
    /*! border-radius: 20px; */
    /*! font-size: 12px; */
}

.a_marseille_1 {
    background: white;
    width: 300px;
    height: 96.5%;
    border-radius: 20px;
    box-shadow: 0px 2px 7px 0px rgb(128, 121, 123);
}

/* .a_marseille_1_img {
    overflow: hidden;
    margin: 2px;
    padding-top: 5px;
    padding: 3px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
} */

.a_marseille {
    /*! padding-bottom: 9%; */
    margin-bottom: 15px;
    /*! width: 300px; */
    /*! max-height: 180px; */
    border-radius: 20px;
    box-shadow: 0px 2px 7px 0px rgb(57, 65, 68);

    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.a_marseille_img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/* Footer */
footer {
    background-color: #f2f2f2;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: auto;
}

footer ul {
    padding: 10px 150px;
    list-style: none;
}

footer ul h3 {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 6px;
    padding-top: 20px;
}

footer ul li {
    font-size: 12px;
    padding-bottom: 5px;
    list-style: none;
}

@media screen and (max-width: 768px) {
    .logo {
        width: 140px;
        height: 100%;
        padding-left: 50px;
        padding-top: 22px;
    }

    .options {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 50px;
        padding-right: 40px;
    }

    .conteneur {
        flex-direction: column-reverse;
    }

    .options_filtres {
        display: flex;
        align-content: center;
        flex-flow: wrap;
        /*! padding-left: 15px; */
        padding-right: 15px;
    }

    .options_filtres_icono {
        width: 34px;
        height: 34px;
        background-color: rgba(174, 211, 230, 0.8);
        color: rgb(0, 0, 255);
        font-size: 14px;
        border-radius: 2000px;
        position: absolute;
        left: 0;
    }

    .options_filtres_title h3 {
        margin-left: 30px;
        padding: 10px;
        font-weight: bold;
        font-size: 12px;
    }

    .offre {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        border-radius: 20px;
        padding: 0.5em;
        width: 100%;
    }

    .hotel {
        background-color: RGB(242, 242, 242);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 15px;
        flex-flow: wrap;
        padding-right: 15px;
        border-radius: 20px;
        margin-right: 1%;
        padding: 10px 0px;
        max-width: 100%;
    }

    .hebergement {
        display: flex;
        flex-direction: column;
        margin: 5px;
        margin-bottom: 2%;
        background: white;
        flex-grow: 0.7;
        align-content: center;
        width: 100%;
        height: 220px;
        border-radius: 20px;
        margin-right: 18px;
    }

    .aside {
        background: RGB(242, 242, 242);
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        padding: 8px 8px 8px 8px;
        margin-left: 5px;
        margin-bottom: 25px;
        max-width: 100%;
        justify-content: flex-start;
    }

    .les_plus_populaires {
        display: flex;
        background: rgb(255, 255, 255);
        width: 98%;
        height: 125px;
        padding: 5px;
        border-radius: 20px;
        margin-top: 20px;
        justify-content: center;
    }

    .les_plus_populaires_image {
        overflow: hidden;
        display: flex;
        border-bottom-left-radius: 10%;
        border-top-left-radius: 10%;
        width: 300px;
        height: 100%;
    }

    footer ul {
        padding: 55px;
        list-style: none;
    }

    .option_activites_marseille {
        display: flex;
        justify-content: space-around;
        padding-left: 40px;
        flex-flow: wrap;
        padding-right: 40px;
    }
}

@media screen and (max-width: 414px) {

    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
    }

    .logo {
        padding: 0px;

    }

    .logo__img {
        width: 50%;
        height: 50%;
    }

    /* Navigation */
    .nav {

        font-family: "Relaway", sans-serif;

    }

    .nav_ul {
        display: flex;
        flex-direction: row-reverse;
        list-style-type: none;
        font-size: 15px;

        /*! margin: 0px; */
    }

    .nav_li {
        margin: 0 10px;
        padding: 5px 0;
        color: black;
        text-decoration: none;

    }

    .nav_li:hover {
        border-bottom: 3px solid rgb(0, 0, 255);
    }

    /* ink, active, hover, visited */
    .nav_a {
        text-decoration: none;
        color: blue;
    }

    .nav_a:hover {
        color: blue;
    }

    .options {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 20px;
        padding-right: 40px;
        padding-top: 10px;
    }

    .options_recherche {
        margin: 10px 0px;
    }

    .options_filtres {
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
        align-content: center;
        flex-flow: wrap;

        padding-right: 15px;
    }

    .conteneur {
        display: flex;
        padding: 5px 10px 5px 10px;
        height: auto;
        width: 95%;
        justify-content: center;
    }

    .hotel {
        background-color: RGB(242, 242, 242);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-flow: wrap;
        border-radius: 20px;
        margin: 8px;
        max-width: 100%;
    }

    .hebergement {
        display: flex;
        flex-direction: column;
        margin: 5px;
        margin-bottom: 2%;
        background: rgb(255, 255, 255);
        flex-grow: 0.7;
        align-content: center;
        width: 100%;
        height: 220px;
        border-radius: 20px;
        margin-right: 18px;
        position: relative;
    }
    .option_activites_marseille {
        
        
        padding-left: 5px;
        
        padding-right: 5px;
    }
    .a_marseille_1 {
        background: rgb(255, 255, 255);
        width: 300px;
        height: 100%;
        margin-bottom: 15px;
        border-radius: 20px;
        box-shadow: 0px 2px 7px 0px rgb(128, 121, 123);
    }
    .img_activites_large {
        overflow: hidden;
        height: 150px;
        max-width: 100%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        display: flex;
    }
    footer {
        flex-direction: column;
    }

    footer ul {
        padding: 20px 55px 0px 55px;
        list-style: none;
    }
}